<div class="container">
    <div class="prueba white-box">
    <div class="about__profilePic">
        <img src="/assets/profilepic.jpg" alt="Profile Picture" class="about__profilePic img-fluid">
    </div>
    <div class="about__title">
        <h2>&#62; {{persona.nombre}} {{persona.apellido}}</h2>
        <h3>&#62; Full Stack Developer Jr</h3>
    </div>
</div>
    <div class="about__text white-box">
        <h2>&#62; Acerca de mi</h2>
        <p>
            Hola! 👋<br>
            Mi nombre es Luz, tengo 34 años y soy desarrolladora Full Stack, basada en Bariloche, Argentina.<br>
            Trabajo habitualmente con las tecnologías <strong>HTML, CSS y JavaScript</strong>, manejo los frameworks <strong>React, React Native y Angular</strong>, utilizo en todos mis proyectos control de versiones con <strong>Git y GitHub</strong>, y tengo conocimientos de bases de datos con <strong>MySQL y Firebase</strong>, entre otras.
        </p>
    </div>
</div>