<div class="container">
    <div class="prueba white-box">
    <div class="about__profilePic">
        <img src="/assets/profilepic.jpg" alt="Profile Picture" class="about__profilePic img-fluid">
    </div>
    <div class="about__title">
        <h2>&#62; Luz Davico</h2>
        <h3>&#62; Full Stack Developer Jr</h3>
    </div>
</div>
    <div class="about__text white-box">
        <h2>&#62; Acerca de mi</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quia? Accusamus perspiciatis nesciunt ex sit ad! Reiciendis nam obcaecati quia impedit ratione illum, iste possimus, facilis consequatur placeat minus vitae.
        </p>
    </div>
</div>