<app-header></app-header>
<div class="container" *ngIf="expLab">
    <div>
        <form class="custom-form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <h3>&#62; Editar experiencia</h3>
            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required placeholder="Nombre de la empresa">
            <textarea type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required placeholder="Descripción del puesto"></textarea>
            <button class="btn">Actualizar</button>
        </form>
    </div>
</div>
<app-footer></app-footer>