<div class="white-box">
    <h2>&#62; Experiencia Laboral</h2>
    <ul class="unstyled-list">
        <li class="work-exp__list-item flexbox column-gap">
            <img src="assets/hero.jpg" width="75px" height="75px" alt="">
            <div>
                <h3>FJ</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <img src="assets/hero.jpg" width="75px" height="75px" alt="">
            <div>
                <h3>Peuma Hue</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <img src="assets/hero.jpg" width="75px" height="75px" alt="">
            <div>
                <h3>Lifia</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <img src="assets/hero.jpg" width="75px" height="75px" alt="">
            <div>
                <h3>Lifia</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <img src="assets/hero.jpg" width="75px" height="75px" alt="">
            <div>
                <h3>Globant</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>
    </ul>
</div>