@media screen and (max-width: 768px) {
    .work-exp__list-item {
        flex-direction: column;
    }
}
.work-exp__list-item {
    position: relative;
}
.edition {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 0.8rem;
    fill: #008080;
}
.edition svg {
    padding-right: 20px;
}