<div class="white-box">
    <h2>&#62; Proyectos</h2>
    <div class="flexbox column-gap">
        <div class="project__column">
            <h3>E-commerce con React</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ab autem repellendus quae doloremque consequatur. Aspernatur totam quos veniam. Ex quam minus dignissimos perspiciatis, quos nemo porro quia. Voluptatum, tenetur.</p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit sed repudiandae ullam mollitia architecto quibusdam non quaerat ex quas aperiam itaque dolore omnis praesentium, nulla fugit earum nemo fuga aliquid!
            </p>
        </div>
        <a href="#"><img class="project__img" src="/assets/project-1.jpg" alt="Proyecto 1"></a>
    </div>
    <div class="hr"></div>
    
    <div class="flexbox column-gap">
        <div class="project__column">
            <h3>E-commerce con React</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ab autem repellendus quae doloremque consequatur. Aspernatur totam quos veniam. Ex quam minus dignissimos perspiciatis, quos nemo porro quia. Voluptatum, tenetur.</p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit sed repudiandae ullam mollitia architecto quibusdam non quaerat ex quas aperiam itaque dolore omnis praesentium, nulla fugit earum nemo fuga aliquid!
            </p>
        </div>
        <a href="#"><img class="project__img" src="/assets/project-1.jpg" alt="Proyecto 1"></a>
    </div>
    <div class="hr"></div>

    <div class="flexbox column-gap">
        <div class="project__column">
            <h3>E-commerce con React</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ab autem repellendus quae doloremque consequatur. Aspernatur totam quos veniam. Ex quam minus dignissimos perspiciatis, quos nemo porro quia. Voluptatum, tenetur.</p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit sed repudiandae ullam mollitia architecto quibusdam non quaerat ex quas aperiam itaque dolore omnis praesentium, nulla fugit earum nemo fuga aliquid!
            </p>
        </div>
        <a href="#"><img class="project__img" src="/assets/project-1.jpg" alt="Proyecto 1"></a>
    </div>
    <div class="hr"></div>

    <div class="flexbox column-gap">
        <div class="project__column">
            <h3>E-commerce con React</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ab autem repellendus quae doloremque consequatur. Aspernatur totam quos veniam. Ex quam minus dignissimos perspiciatis, quos nemo porro quia. Voluptatum, tenetur.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit sed repudiandae ullam mollitia architecto quibusdam non quaerat ex quas aperiam itaque dolore omnis praesentium, nulla fugit earum nemo fuga aliquid!</p>
        </div>
        <a href="#"><img class="project__img" src="/assets/project-1.jpg" alt="Proyecto 1"></a>
    </div>
    <div class="hr"></div>
</div>