.project__img {
    max-width: 250px;
    height: 165px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.project__column {
    padding: 0 30px;
    max-width: 70%;
}

.repo__link {
    box-shadow: inset 0 0 0 0 #008080;
    color: #008080;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.repo__link:hover {
    box-shadow: inset 350px 0 0 0 #008080;
    color: white;
  }

.projects div:last-child {
    margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
    .project__column {
        max-width: 100%;
        padding: 5px;
    }
    .projects .flexbox {
        justify-content: center;
        align-items: center;
    }
    .white-box p {
        max-width: 100%;
    }
}
