<div class="white-box projects">
    <h2>&#62; Proyectos</h2>
    <div class="flexbox column-gap">
        <div class="project__column">
            <h3><a href="https://frontend-argprog-davico.web.app/" target="_blank">Currículum Online</a></h3>
            <p>
                Currículum Vitae desarrollado con <strong>Angular con HTML, CSS y TypeScript</strong>. Backend desarrollado con <strong>Java y Spring Boot</strong>. Base de datos <strong>MySQL</strong>. Desplegado en <strong>Heroku y Firebase</strong>.
                Realizado en contexto del programa nacional Argentina Programa durante el año 2022.
            </p>
            <p><a class="repo__link" href="https://github.com/luz-d20/ProyectoIntegrador-Davico" target="_blank">&#62; Repositorio FrontEnd</a><br>
                <a class="repo__link" href="https://github.com/luz-d20/ProyectoIntegrador-Davico-Backend" target="_blank">&#62; Repositorio BackEnd</a>
            </p>
        </div>
        <a href="https://frontend-argprog-davico.web.app/" target="_blank"><img class="project__img" src="/assets/project-2.jpg" alt="Proyecto 1"></a>
    </div>
    <div class="hr"></div>
    
    <div class="flexbox column-gap">
        <div class="project__column">
            <h3><a href="https://react-davico-fcnx6cfw6-luz-d20.vercel.app/" target="_blank">E-commerce con React</a></h3>
            <p>
                Tienda online desarrollada con <strong>ReactJS, HTML, CSS y JavaScript</strong>. Base de datos desplegada en <strong>Firebase</strong>. Deploy en <strong>Vercel</strong>.
                Realizado en contexto del curso de React de CoderHouse durante el año 2022.
            </p>
            <p>
                <a class="repo__link" href="https://github.com/luz-d20/react-davico" target="_blank">&#62; Repositorio</a>
            </p>
        </div>
        <a href="https://react-davico-fcnx6cfw6-luz-d20.vercel.app/" target="_blank"><img class="project__img" src="/assets/project-1.jpg" alt="Proyecto 1"></a>
    </div>
    <div class="hr"></div>

    <div class="flexbox column-gap">
        <div class="project__column">
            <h3><a href="https://luz-d20.github.io/coderhouse-JS30330/" target="_blank">MercadoLibre Random Generator</a></h3>
            <p>
                Generador de productos random de MercadoLibre desarrollado con <strong>JavaScript, HTML y CSS</strong>, con llamados a la API de MercadoLibre. Deploy en <strong>GitHub Pages</strong>. Realizado en contexto del curso de JavaScript de CoderHouse durante el año 2022.
            </p>
            <p>
                <a class="repo__link" href="https://github.com/luz-d20/coderhouse-JS30330" target="_blank">&#62; Repositorio</a>
            </p>
        </div>
        <a href="https://luz-d20.github.io/coderhouse-JS30330/" target="_blank"><img class="project__img" src="/assets/project-3.jpg" alt="Proyecto 1"></a>
    </div>
    <div class="hr"></div>

    <div class="flexbox column-gap">
        <div class="project__column">
            <h3><a href="https://luz-d20.github.io/coderhouse-webdev/" target="_blank">Web Autora</a></h3>
            <p>
                Sitio web para autora argentina desarrollado con <strong>HTML, SASS y Bootstrap</strong>. Deploy en <strong>GitHub Pages</strong>. Realizado en contexto del curso de Desarrollo Web de CoderHouse durante el año 2021.
            </p>
            <p>
                <a class="repo__link" href="https://github.com/luz-d20/coderhouse-webdev" target="_blank">&#62; Repositorio</a>
            </p>
        </div>
        <a href="https://luz-d20.github.io/coderhouse-webdev/" target="_blank"><img class="project__img" src="/assets/project-4.jpg" alt="Proyecto 1"></a>
    </div>
</div>