<div class="white-box">
    <h2>&#62; Educación</h2>
    <ul class="unstyled-list">
        <li class="work-exp__list-item flexbox column-gap">
            <div>
                <h3>Arg Prog</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <div>
                <h3>Coderhouse Frontend</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <div>
                <h3>MSCB</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <div>
                <h3>Universidad</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>

        <li class="work-exp__list-item flexbox column-gap">
            <div>
                <h3>Secundaria</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisi eu consectetur consectetur, nisi nisi
                    consectetur nisi, euismod nisi nisi euismod nisi.
                </p>
            </div>
        </li>
    </ul>
</div>