<app-header></app-header>
<div class="container">
    <div>
        <form class="custom-form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <h3>&#62; Añadir nueva educación</h3>
            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required placeholder="Nombre de la institución">
            <textarea type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required placeholder="Descripción de la educación"></textarea>
            <button class="btn">Añadir</button>
        </form>
    </div>
</div>
<app-footer></app-footer>