/*Browser Body Reset*/
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #008080;
    padding-bottom: 150px;
}
/*Font Imports - Roboto Mono for titles, Montserrat for all others*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Fonts*/
* {
    font-family: 'Montserrat', sans-serif;
}
h1,h2, h3, h4, h5, h6, .title {
    font-family: 'Roboto Mono', monospace;
}
a {
    text-decoration: none;
    color: #008080;
}
/*Reusable classes*/
.white-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin: 15px 2%;
}
.white-box p {
    padding: 0 5%;
    max-width: 80%;
  }
.white-box strong {
    color: #008080;
}
.unstyled-list {list-style: none;}
.unstyled-link {text-decoration: none; color: inherit;}
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn {
    background-color: #008080;
    color: #fff;
    padding: 15px 26px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #fff;
    transition: 0.3s;
    text-decoration: none;
}
.btn:hover {
    background-color: #fff;
    color: #008080;
    border: 3px solid #008080;
}
.fx-space-around {justify-content: space-around;}
.column-gap {column-gap: 30px;}
.flex-column {flex-direction: column;}
.text-center {text-align: center;}
.hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px;
}
@media screen and (max-width: 768px) {
    li {
        margin-left: -20px;
      }    
}


/*Custom Forms*/
.custom-form {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    }
    .custom-form::before, .custom-form::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
    }
    .custom-form::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
    }
    .custom-form::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(2, 128, 144, 0.2);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
    }
    .custom-form > input, .custom-form > textarea {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    }
    .custom-form > button {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #008080;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
    }
    .custom-form > button:hover {
    background-color: #008080;
    }
    
    @-webkit-keyframes wawes {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
    }
    @-moz-keyframes wawes {
    from {
        -moz-transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
    }
    }
    @keyframes wawes {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    }
    
    @media screen and (max-width: 768px) {
        .custom-form {
            width: 90%;
            padding: 20px;
            box-sizing: border-box;
        }
        .custom-form > input, .custom-form > textarea {
            width: 100%;
        }
        .custom-form > button {
            width: 100%;
        }
        
    }
    